# Ignore virtual environment folder 
venv/ 
 
# Ignore sources folder 
sources/ 

# Ignore dataset
dataset/

# Ignore dashboard html
dashboard/testing.html
 
# Ignore PowerPoint files 
*.ppt 
*.pptx 
 
# Ignore Excel files 
*.xls 
*.xlsx 
*.csv 
 
# Ignore Word documents 
*.doc 
*.docx 

# Ignore Power BI files
*.pbix  
*.pbit  

# Ignore Power BI cache and temporary files
*.pbix~
*.pbit~
*.pbix.tmp
*.pbit.tmp
